name: Auto Preprocessing

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  run-preprocessing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pandas numpy scikit-learn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_Rahma-Aulia.py

      - name: Upload preprocessed dataset
        uses: actions/upload-artifact@v4
        with:
          name: processed-weather-dataset
          path: preprocessing/weather_preprocessed.csv

      - name: Commit & Push processed file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add preprocessing/weather_preprocessed.csv
          git commit -m "Add auto-generated weather_preprocessed.csv"
          git push
